PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE lecture_INFO(
ID FLOAT NULL,
name TEXT NULL );
INSERT INTO lecture_INFO VALUES(1.0,'Allen');
INSERT INTO lecture_INFO VALUES(2.0,'David');
INSERT INTO lecture_INFO VALUES(3.0,'KEKEK');
COMMIT;
